<!doctype html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
  <th:block layout:fragment="css"/>
  <th:block layout:fragment="script"/>

  <link href="/css/index.css" rel="stylesheet" />
</head>
<div layout:fragment="content">
  <div class="container">
    <div class="mb-4">
      <div class="container mt-5 px-4 px-lg-5">
        <div class="justify-content-center">
          <div class="col-10">
            <h1 class="section-heading mb-4" th:text="${post.title}"></h1>
            <b>글 번호 : </b><span id="boardId" th:text="${post.id}"></span>
            <b>작성자 : </b><span id="users" th:text="${post.user.username}"></span>
            <p th:utext="${post.content}"></p>
          </div>
        </div>
      </div>
    </div>
      <div class="container mt-5 px-4 px-lg-5">
        <div class="container-fluid">
          <div class="my-4 row-fluid">
            <a href="/" id="btn-back" class="btn pull-right btn-dark">돌아가기</a>
            <span th:if="${post.user.username == principal.name}">
              <a th:href="@{/post/__${post.id}__/update}" class="btn pull-right btn-primary">수정</a>
              <button id="btn-warning" class="btn pull-right btn-danger">삭제</button>
            </span>
          </div>
        </div>
        <div class="card">
          <form>
            <input id="userId" type="hidden" th:value="${#authentication.principal.user.id}"/>
            <input type="hidden" id="postId" th:value="${post.id}"/>
            <div class="card-body">
              <textarea id="commentText" class="form-control" rows="1"></textarea>
            </div>
            <div class="card-footer">
              <button id="btn-comment" type="button" class="btn-primary">등록</button>
            </div>
          </form>
          <script src="/js/post/post.js/"></script>
        </div>
        <br />
        <div class="card">
          <div class="card-header">댓글 목록</div>
          <div th:each="comments : ${post.comment}"class="col-md-12">
            <input id="commentId" type="hidden" th:value="${comments.id}"/>
            <ul id="comment-box" class="list-group">
            <li id="comment-${comments.id}" class="list-group-item d-flex justify-content-between">
              <div th:text="${comments.text}"></div>
              <div class="d-flex">
                <div class="font-italic" id="commentUserId" th:text="'작성자 : '+ ${comments.user.username} + '&nbsp;&nbsp;' "></div>
                <span th:if="${comments.user.username == principal.name}">
                <button th:onClick="javascript:index.commentDelete([[${post.id}]] , [[${comments.id}]]);" class="badge btn-danger">삭제</button>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      </div>
  </div>
</div>
</html>
